
  <div class="title">
    {{post.title}}
  </div>
  <div class="content">
    {{post.content}}<br>
    {{post.dateCreated}}
    {{post-edit post=post editPost="editPost" deletePost="deletePost"}}
  </div>
